<div>
    <div class="card">
        <div class="p-5">
            <ngx-dropzone (change)="onSelect($event)" [multiple]="true" [expandable]="true"
                [processDirectoryDrop]="true" class="dropzone">
                <ngx-dropzone-label>
                    <div class="dz-message needsclick w-full">
                        <div class="mb-3">
                            <i class="mgc_upload_3_line text-4xl text-gray-300 dark:text-gray-200"></i>
                        </div>
                        <h5 class="text-xl text-gray-600 dark:text-gray-200">Arrastra los archivos aqui o haz click para
                            subir</h5>
                    </div>
                </ngx-dropzone-label>
                <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                    
                    <ngx-dropzone-label>
                        <p>{{ f.name }} </p><b>{{niceBytes(f.size)}}</b>
                    </ngx-dropzone-label>
                </ngx-dropzone-preview>
            </ngx-dropzone>
            <div class="text-center mt-4">
                <button type="button" class="btn bg-violet-500 border-violet-500 text-white">Registrar archivos</button>
            </div>
        </div>
    </div>
</div>