 <!-- @@ Share File Modal @e -->
 <div class="modal fade"  id="shareView" tabindex="-1" role="dialog"  data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header align-center">
                <div class="nk-file-title">
                    <div class="nk-file-icon">
                        <span class="nk-file-icon-type">                                
                           <app-image-svg  *ngIf="itemActive" [tipo]="itemActive.tipo"></app-image-svg>
                        </span>
                    </div>
                    <div class="nk-file-name">
                        <div class="nk-file-name-text"><span class="title">{{itemActive?.nombre}}</span></div>
                        <div class="nk-file-name-sub">394.87 MB</div>
                    </div>
                </div>
                <a href="#" class="close"   (click)="modalService.closeShare()"><em class="icon ni ni-cross-sm"></em></a>
            </div>
            <div class="modal-body p-0">
                <div class="nk-file-share-header">
                    <div class="nk-file-share-group">
                        <div class="nk-file-share-input-group">
                            <div class="nk-file-share-input nk-file-share-input-to">
                                <label class="label">Para</label>
                                <input type="text" class="input-mail tagify" placeholder="Nombre o correo electrónico" data-whitelist="team@softnio.com, help@softnio.com, contact@softnio.com">
                            </div>
                        </div>
                        <ul class="nk-file-share-nav">
                            <li><span class="badge badge-sm bg-outline-gray">Puede ver</span></li>
                        </ul>
                    </div>
                </div>
                <div class="nk-file-share-editor">
                    <div class="nk-file-share-field">
                        <textarea class="form-control form-control-simple no-resize ex-large" placeholder="Agregar un mensaje (opcional)"></textarea>
                    </div>
                </div><!-- .nk-file-share-editor -->
            </div><!-- .modal-body -->
            <div class="modal-footer bg-light">
                <ul class="btn-toolbar g-3">
                    <li><a (click)="modalService.closeShare()" class="btn btn-outline-light btn-white">Cancelar</a></li>
                    <li><a  class="btn btn-primary">Compartir</a></li>
                </ul>
            </div><!-- .modal-footer -->
        </div><!-- .modal-content -->
    </div><!-- .modla-dialog -->
</div><!-- .modal -->