<div class="nk-files nk-files-view-group">
    <div class="nk-files-group">
        <h6 class="title">Folders</h6>
        <div class="nk-files-list">
            <div class="nk-file-item nk-file" *ngFor="let item of folder">
                <div class="nk-file-info">
                    <app-item-file [item]="item"></app-item-file>
                    <ul class="nk-file-desc">
                        <li class="date">{{item.fecha_registro | date:'dd-MM-YYYY'}}</li>
                        <li *ngIf="item.acceso.length>0" class="members">{{item.acceso.length}} miembros</li>
                    </ul>
                    </div>
                    <div class="nk-file-actions">
                        <app-menu-contextual [item]="item"></app-menu-contextual>
                    </div>                 
                
            </div>
        </div>
        <div class="nk-files-group">
            <h6 class="title">Archivos</h6>
            <div class="nk-files-list">
                <div class="nk-file-item nk-file" *ngFor="let file of files">
                    <div class="nk-file-info">
                        <app-item-file [item]="file"></app-item-file>
                        <ul class="nk-file-desc">
                            <li class="date">{{file.fecha_registro | date:'dd-MM-YYYY '}}</li>
                            <li class="size">235 KB</li>
                            <li class="members" *ngIf="file.acceso.length==1">1 Miembro </li>
                            <li class="members" *ngIf="file.acceso.length>1">{{file.acceso.length}} Miembros </li>
                        </ul> </div>
                        <div class="nk-file-actions">
                            <app-menu-contextual [item]="file"></app-menu-contextual>
                        </div>                      
                    </div>
                </div>
            </div>
        </div><!-- .nk-files -->