

<div class="mt-5">
    <div class="card">       
        <div  >
            <ngx-dropzone (change)="onSelect($event)" [multiple]="true" [expandable]="true" *ngIf="!isSendingFiles()"
                [processDirectoryDrop]="true" class="dropzone">
                <ngx-dropzone-label>
                    <div class=" small bg-lighter">
                        <div class="dz-message">                                                        
                            <span class="dz-message-text"><span>Arrastra los archivos</span> aqui <span> o haz click para explorar</span></span>
                        </div>
                    </div>                    
                </ngx-dropzone-label>                
            </ngx-dropzone>  
            <div class="nk-upload-item" *ngFor="let f of files" >
                <div class="nk-upload-icon">
                    <app-image-svg [tipo]="f.type"></app-image-svg>
                </div>
                <div class="nk-upload-info">
                    <div class="nk-upload-title"><span class="title">{{f.name}}</span>                                             
                    </div>
                    <span class="text-muted text-sm">{{niceBytes(f.size)}}</span>                     
                </div>
                <div class="nk-upload-action">
                    <a href="#" (click)="onRemove(f)" class="btn btn-icon btn-trigger" ><em class="icon ni ni-trash"></em></a>
                </div>
            </div>          
        </div>
       
    </div>
</div>
<div class="nk-modal-action justify-end">
    <ul class="btn-toolbar g-4 align-center">
        <li><a href="#" (click)="cerrarModal()"   class="link link-primary">Cancelar</a></li>        
        <li><button  *ngIf="!isSendingFiles()" class="btn btn-primary" (click)="registrarArchivos()" [disabled]="files.length==0">Registrar archivos</button>
            <button *ngIf="isSendingFiles()" class="btn btn-primary" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span>Loading...</span>
            </button>
        </li>
    </ul>
</div>