<div class="nk-files nk-files-view-grid">
    <div class="nk-files-list">
        <div class="nk-file-item nk-file" *ngFor="let item of items">
            <div class="nk-file-info">
                <app-item-file [item]="item"></app-item-file>
                <ul class="nk-file-desc">
                    <li class="date">{{item.fecha_registro | date:'dd-MM-YYYY hh:mm a'}}</li>
                    <li *ngIf="item.tipo!='folder'" class="size">4.5 MB</li>
                </ul>
            </div>
            <div class="nk-file-actions">
                <app-menu-contextual [item]="item"></app-menu-contextual>
            </div>           
        </div>
    </div>
</div><!-- .nk-files -->