<div class="dropdown">
                            <a href="" class="dropdown-toggle btn btn-sm btn-icon btn-trigger"
                                data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                            <div class="dropdown-menu dropdown-menu-start">
                                <ul class="link-list-plain no-bdr">
                                    <li><a href="#file-details" data-bs-toggle="modal"><em
                                                class="icon ni ni-eye"></em><span>Detalles</span></a></li>
                                    <li><a href="#file-share" data-bs-toggle="modal"><em
                                                class="icon ni ni-share"></em><span>Compartir</span></a></li>                                 
                                    <li><a href="#"><em class="icon ni ni-pen"></em><span>Renombrar</span></a></li>
                                    <li><a href="#"><em class="icon ni ni-trash"></em><span>Borrar</span></a></li>
                                </ul>
                            </div>
                        </div>