<div class="nk-fmg-body-content">
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between position-relative">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title">Archivos</h3>
                <!-- <nav>
                    <ul class="breadcrumb breadcrumb-arrow">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Library</li>                       
                    </ul>
                </nav> -->
            </div>
            <div class="nk-block-head-content">
                <ul class="nk-block-tools g-1">
                    <li class="d-lg-none">

                        <a href="#" class="btn btn-trigger btn-icon search-toggle toggle-search"
                            data-target="search"><em class="icon ni ni-search"></em></a>
                    </li>
                    <li class="d-lg-none">
                        <div class="dropdown">
                            <a class="btn btn-trigger btn-icon" data-bs-toggle="dropdown"><em
                                    class="icon ni ni-view-grid3-wd"></em></a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <ul class="link-list-opt no-bdr">
                                    <li><a (click)="viewShow=2"><em class="icon ni ni-view-grid3-wd"></em><span>Grid
                                                View</span></a></li>
                                    <li><a><em (click)="viewShow=3" class="icon ni ni-view-group-wd"></em><span>Group
                                                View</span></a></li>
                                    <li><a (click)="viewShow=1"><em class="icon ni ni-view-row-wd"></em><span>List
                                                View</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="d-lg-none">
                        <div class="dropdown">
                            <a href="#" class="btn btn-trigger btn-icon" data-bs-toggle="dropdown"><em
                                    class="icon ni ni-plus"></em></a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <ul class="link-list-opt no-bdr">
                                    <li><a (click)="modalService.openUpload()"><em
                                                class="icon ni ni-upload-cloud"></em><span>Subir archivo</span></a></li>
                                    <li><a><em class="icon ni ni-folder-plus"></em><span>Crear
                                                Folder</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="d-lg-none me-n1"><a href="#" class="btn btn-trigger btn-icon toggle"
                            data-target="files-aside"><em class="icon ni ni-menu-alt-r"></em></a></li>
                </ul>
            </div>
            <div class="search-wrap px-2 d-lg-none" data-search="search">

                <div class="search-content">
                    <a href="#" class="search-back btn btn-icon toggle-search" data-target="search"><em
                            class="icon ni ni-arrow-left"></em></a>
                    <input type="text" class="form-control border-transparent form-focus-none"
                        placeholder="Search by user or message">
                    <button class="search-submit btn btn-icon"><em class="icon ni ni-search"></em></button>
                </div>
            </div><!-- .search-wrap -->


            <div class="nk-block-head-content d-none d-lg-block">
                <ul class="nk-block-tools g-3">
                    <li><a (click)="viewShow=1" class="nk-switch-icon" [class.active]="viewShow==1"><em
                                class="icon ni ni-view-row-wd"></em></a></li>
                    <li><a (click)="viewShow=2" class="nk-switch-icon" [class.active]="viewShow==2"><em
                                class="icon ni ni-view-grid3-wd"></em></a></li>
                    <li><a (click)="viewShow=3" class="nk-switch-icon" [class.active]="viewShow==3"><em
                                class="icon ni ni-view-group-wd"></em></a></li>

                </ul>
            </div>
        </div>
    </div><!-- .nk-block-head -->
    <div *ngIf="items().length>0">
        <div class="nk-fmg-listing nk-block" *ngIf="viewShow==2">
            <app-files-grid [items]="items()"></app-files-grid>
        </div><!-- .nk-block -->
        <div class="nk-fmg-listing nk-block" *ngIf="viewShow==3">
            <app-files-group [items]="items()"></app-files-group>
        </div><!-- .nk-block -->
        <div class="nk-fmg-listing nk-block" *ngIf="viewShow==1">
            <app-files-list [items]="items()"></app-files-list>
        </div><!-- .nk-block -->

    </div>




</div><!-- .nk-fmg-body-content -->